@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");
:root {
    /*--accent-color: #FF6F00;*/
    --accent-color: #5a5cd8;
  }
html {
    scroll-behavior: smooth;
    font-size: 20px;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    --text-color: #000;
    --accent-color: #5a5cd8;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
.menu-left a {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    transition: color .35s ease;
  }

.menu-left a:before {
    content: '';
    display:block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}

.menu-left a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: var(--text-color);;
    transition: width .35s ease;
}

.menu-left a:hover:before {
    width: 100%;
    background: var(--text-color);;
    transition: width .35s ease;
}

.menu-left a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.menu-left a:after {
    content: '';
    display:block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}

nav {
    margin: 1rem 1rem 1rem 1rem;
    grid-area: nav;
    background: rgba(255, 255, 255, .92);
    transition: background .3s,
    -webkit-transform .5s cubic-bezier(.694,.048,.335,1);
    transition: transform .5s cubic-bezier(.694,.048,.335,1),background .3s;
    transition: transform .5s cubic-bezier(.694,.048,.335,1),background .3s,
    -webkit-transform .5s cubic-bezier(.694,.048,.335,1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

nav > ul{
    list-style: none;
    padding-left: 0;
    margin: 0 1rem 0 0;
}
nav > ul > li {
    margin-left: 0;
    float: left;
    margin-left: 2rem;
    font-size: 1.15em;
}
nav a {
    text-decoration: none;
    color: rgba(34, 34, 34, .8);
}
nav a:hover, a:focus {
    color: darken(#000, 20%);
}
nav > .logo {
    display: none;
}
nav:after {
    content: '';
    display: table;
    clear: both;
}

.hide-nav {
transform: translateY(-120%) !important;
-webkit-transform: translateY(-120%) !important;
}

ul.menu-left {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 10;
    display: block!important;
    float: right;
    max-height: none;
}
ul.menu-left:before {
    content: '';
    display: table;
    clear: both;
}
.down-button {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
    grid-area: intro-nav;
}
.down-button span {
    display: block;
}
.down-button a {

    display: inline-block;
    color: rgb(0, 0, 0);
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
.down-button a:hover {
    opacity: .5;
}
.down-button a img {
    max-width: 75%;
    opacity: .75;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "intro"
        "content1"
        "content2"
        "content3";
    grid-template-columns: lfr;
    grid-template-rows: 4rem 100vh auto auto auto;
}
.intro {
    grid-area: intro;
    display: grid;
    grid-template-areas:
        "intro-text"
        "intro-nav";
    grid-template-rows: 70% 20% 10%;
    align-items: center;
}
.hero {
    max-width: 70%;
    margin: auto auto;
    text-align: center;
}
.hero img {
    width: 12em;
    margin-top: 2rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem 1rem 0.1rem rgb(100, 102, 107)
}
.hero h1 {
    font-size: 2em;
    font-weight:300;
    color: #3D3D3D
}
.hero p {
    font-weight: 300;
    line-height: 1.8em;
    color: #3D3D3D;
}
.content {
    display: grid;
    max-width: 90%;
    grid-template-areas:
        "expo"
        "gallery";
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
}
#content1 {
    grid-area: content1;
}
#content2 {
    grid-area: content2;
}#content3 {
    grid-area: content3;
}
.expo {
    grid-area: expo;
}
.expo > p {
    padding-bottom: 2rem;
    margin: auto 2rem;
}
.expo ul {
    text-align: center;
    list-style-position: inside;
}
.gallery {
    padding-top: 3rem;
    grid-area: gallery;
    display: flex;
    width: 100%;
}
.gallery-col {
    flex: 1;
    margin: 0 1em;
}

.gallery-fig {
    text-align: center;
    margin: 0 0 5em 0;
    width: 100%;
}
.gallery-fig img {
    width:auto;
    height:10em;
    max-width: 100%;
    max-height: auto;
    border-radius: 5%;
    padding-bottom: 1em;
}
.gallery-fig figcaption {
    vertical-align: bottom;
    height: 5em;
    text-align: left;
}

.gallery-fig > figcaption > h1
{
    font-size: 1em;
}

.gallery-fig > figcaption > p{
    font-size: .8em;
}

.gallery a {
    text-decoration: none;
    color: inherit;
}
.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: var(--accent-color);
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
}
.action-btn:hover {
    box-shadow: 0 .5rem 2rem rgba(188, 197, 216, 1)
}

@media screen and (orientation: landscape), (min-width: 960px) {
    html {
        font-size: 14px;
    }
    nav > .logo {
        float: none;
        margin-right: 0;
        font-size: 1.75em;
        font-weight: 500;
        color: black;
        display: inline;
    }
    .container {
        font-size: 1.5em;
    }
    nav > ul > li {
        margin-left: 6rem;
        line-height: 3.5rem;
    }
    .content {
        grid-template-areas:
            "expo gallery";
        text-align: left;
        grid-template-columns: 40% 60%;
    }
    .gallery-fig:hover {
        transform: scale(1.15);
    }
    .hero {
        text-align: left;
        margin: 2em auto;
    }
    .hero img {
        width: 12em;
        float: right;
        margin-top: 5rem;
    }
    .hero h1 {
        font-size: 3em;
    }
    .hero p {
        width: 60%;
    }
    .expo p {
        margin: auto 0;
    }
}